<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
>

<script src="/js/chat.js"></script>

<input type="hidden" id="chatRoomId" th:value="${chatRoom.chatRoomId}">
<input type="hidden" id="userId" th:value="${loginUser.userId}">
<input type="hidden" id="userNm" th:value="${loginUser.name}">
<input type="hidden" id="firstEntry" th:value="${firstEntry}">

<div class="chat-container">

    <div class="chat-con">

        <div th:each="msg, status : ${chatMessageList}" class="chat-wrap">
            <!-- 첫번째 인덱스일 때 -->
            <div th:if="${status.index == 0}" class="chat-wrap-first">
                <div class="chat-date"><span th:text="${msg.sendDay}"></span></div>

                <!-- 발신자가 나일 때 -->
                <div th:if="${msg.userId eq loginUser.userId}" class="chat-user me">
                    <input type="hidden" class="sender-user-id" th:value="${msg.userId}"/>
                    <div class="chat-profile"><img th:src="${msg.getPicture()}"></div>
                    <h2 class="chat-name" th:text="${msg.name}"></h2>
                </div>
                <div th:if="${msg.userId eq loginUser.userId}" class="chat-box chat-box-t1 me">
                    <p th:text="${msg.message}"></p>
                    <span th:text="${msg.sendTime}"></span>
                </div>

                <!-- 발신자가 내가 아닐 때 -->
                <div th:if="${msg.userId ne loginUser.userId}" class="chat-user">
                    <input type="hidden" class="sender-user-id" th:value="${msg.userId}"/>
                    <div class="chat-profile"><img th:src="${msg.picture}"></div>
                    <h2 class="chat-name" th:text="${msg.name}"></h2>
                    <div th:if="${msg.openYn eq true}" class="chat-review-more">
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#4c55e5" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg></span>
                        <a th:text="${msg.name} + '님의 독후감 보러가기'" th:href="${msg.bookId}"></a>
                    </div>
                </div>
                <div th:if="${msg.userId ne loginUser.userId}" class="chat-box chat-box-t1">
                    <p th:text="${msg.message}"></p>
                    <span th:text="${msg.sendTime}"></span>
                </div>
            </div>

            <!-- 첫번째 인덱스가 아닐 때 -->
            <div th:if="${status.index != 0}" class="chat-wrap-not-first">
                <div class="chat-date"
                     th:if="${chatMessageList[status.index - 1].sendDay != msg.sendDay}">
                    <span th:text="${msg.sendDay}"></span>
                </div>

                <div th:if="${chatMessageList[status.index - 1].userId != msg.userId}">
                    <!-- 발신자가 나일 때 -->
                    <div th:if="${msg.userId eq loginUser.userId}" class="chat-user me">
                        <input type="hidden" class="sender-user-id" th:value="${msg.userId}"/>
                        <div class="chat-profile"><img th:src="${msg.getPicture()}"></div>
                        <h2 class="chat-name" th:text="${msg.name}"></h2>
                    </div>
                    <div th:if="${msg.userId eq loginUser.userId}" class="chat-box chat-box-t1 me">
                        <p th:text="${msg.message}"></p>
                        <span th:text="${msg.sendTime}"></span>
                    </div>

                    <!-- 발신자가 내가 아닐 때 -->
                    <div th:if="${msg.userId ne loginUser.userId}" class="chat-user">
                        <input type="hidden" class="sender-user-id" th:value="${msg.userId}"/>
                        <input type="hidden" class="sender-review-id" th:value="${msg.reviewId}"/>
                        <div class="chat-profile"><img th:src="${msg.picture}"></div>
                        <h2 class="chat-name" th:text="${msg.name}"></h2>
                        <div th:if="${msg.openYn eq true}" class="chat-review-more">
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#4c55e5" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg></span>
                            <p th:text="${msg.name} + '님의 독후감 보러가기'"></p>
                        </div>
                    </div>
                    <div th:if="${msg.userId ne loginUser.userId}" class="chat-box chat-box-t1">
                        <p th:text="${msg.message}"></p>
                        <span th:text="${msg.sendTime}"></span>
                    </div>
                </div>

                <div th:if="${chatMessageList[status.index - 1].userId == msg.userId}">
                    <!-- 발신자가 나일 때 -->
                    <div th:if="${msg.userId eq loginUser.userId}" class="chat-box chat-box-t1 me">
                        <p th:text="${msg.message}"></p>
                        <span th:text="${msg.sendTime}"></span>
                    </div>

                    <!-- 발신자가 내가 아닐 때 -->
                    <div th:if="${msg.userId ne loginUser.userId}" class="chat-box chat-box-t1">
                        <p th:text="${msg.message}"></p>
                        <span th:text="${msg.sendTime}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chat-input">
        <input type="text" id="msgInput" placeholder="채팅을 입력해주세요.">
        <button onclick="sendMsg()" id="msgSendBtn"><img src="/images/plane.png"></button>
    </div>
</div>

<div class="chat-review-modal modal" id="chatReviewModal" style="display: none; width:700px;">
    <div class="review-write-con review-detail-con">

        <div class="row mb-30 hr">
            <input type="hidden" id="title">
            <div class="col">
                <div class="row row-2 row-15">
                    <div class="col">
                        <h2 class="input title">작성자</h2>
                        <p class="input" id="modalWriter"></p>
                    </div>
                    <div class="col">
                        <h2 class="input title">도서명</h2>
                        <p class="input" id="modalTitle"></p>
                    </div>
                </div>
                <div class="row row-3">
                    <div class="col">
                        <h2 class="input title">작가</h2>
                        <p class="input" id="modalAuthor"></p>
                    </div>
                    <div class="col">
                        <h2 class="input title">출판사</h2>
                        <p class="input" id="modalPublisher"></p>
                    </div>
                </div>
            </div>
            <div class="col cover">
                <img id="modalCover">
            </div>
        </div>
        <div class="row row-2 row-15">
            <div class="col">
                <h2 class="input title">취향도</h2>
                <div class="heart" id="modalScore"></div>
            </div>
            <div class="col mb-15">
                <h2 class="input title">한줄평</h2>
                <p class="input" id="modalShortReview"></p>
            </div>
        </div>
        <div class="row row-textarea">
            <div class="col">
                <h2 class="input title">감상문</h2>
                <textarea class="textarea" id="modalLongReview" readonly></textarea>
            </div>
        </div>
    </div>
</div>
<div id="chatModalBackground" class="modal-background"></div>

</html>