<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="defaultSidebarFragment">

    <script src="/js/sidebar.js"></script>

    <!-- sidebar -->
    <div class="review-sidebar">
        <div class="review-sidebar-menu">
            <a class="active" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#9ea6af" d="M20 22H6.5A3.5 3.5 0 0 1 3 18.5V5a3 3 0 0 1 3-3h14a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1Zm-1-2v-3H6.5a1.5 1.5 0 0 0 0 3H19Z"></path></svg></a>
        </div>
        <div class="review-sidebar-chat">
            <input type="hidden" th:value="${loginUser.userId}"/>

            <!--구글 로그인 회원-->
            <div th:if="${loginUser.role eq 'ROLE_USER'}" class="review-chat-user">
                <div class="review-chat-profile"><div><img th:src="${loginUser.picture}"></div></div>
                <div class="review-chat-info">
                    <h2 th:text="${loginUser.name}"></h2>
                    <p>구글 회원</p>
                </div>
            </div>

            <!--게스트 로그인 회원-->
            <div  th:if="${loginUser.role eq 'ROLE_GUEST'}" class="review-chat-user">
                <div class="review-chat-profile"><div><img th:src="@{/images/harry.jpeg}"></div></div>
                <div class="review-chat-info">
                    <h2 th:text="${loginUser.name}"></h2>
                    <p>게스트 회원</p>
                </div>
            </div>

            <a class="btn-type-3 btn-blue btn-review-write" href="/review/write">독후감 작성하기<svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="-0.5 -0.5 24 24"><path fill="#fff" d="m21.289.98l.59.59c.813.814.69 2.257-.277 3.223L9.435 16.96l-3.942 1.442c-.495.182-.977-.054-1.075-.525a.928.928 0 0 1 .045-.51l1.47-3.976L18.066 1.257c.967-.966 2.41-1.09 3.223-.276zM8.904 2.19a1 1 0 1 1 0 2h-4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-4a1 1 0 0 1 2 0v4a4 4 0 0 1-4 4h-12a4 4 0 0 1-4-4v-12a4 4 0 0 1 4-4h4z"></path></svg></a>
            <div class="review-chat-list">
                <h2>채팅방<span class="notice">(작성한 독후감에서 입장 가능)</span></h2>
                <ul><!--채팅목록 들어가는 곳--></ul>
            </div>
        </div>
    </div>
</html>