/*개발예정 팝업*/


/* 공통 */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

.main-container {
    width: 100%;
    height: 100%;
    padding: 30px 100px 80px;
}

.logo {
    font-size: 28px;
    color: #000;
    font-weight: 800;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #e2e2e2;
    border-radius: 20px;
}

/*포트폴리오 구경하기*/
.btn-type-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    padding: 0 14px 0 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    background-color: #fff;
    color: #000;
    border: 1px solid #cccccc;
}
/*로그인*/
.btn-type-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 52px;
    line-height: 52px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: #fff;
    color: #000;
    border: 1px solid #cccccc;
}
/*독후감 작성하기*/
.btn-type-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 18px 0;
    margin: 30px 0 45px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    border: 1px solid #cccccc;
}
/*독후감 상세보기*/
.btn-type-4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    margin-left:10px;
    background-color: #fff;
    color: #000;
    border: 1px solid #cccccc;
}
.btn-blue {
    background-color: #4c55e5;
    color: #fff;
    border: 1px solid #4c55e5;
}
.btn-red {
    background-color: #fd5032;
    color: #fff;
    border: 1px solid #fd5032;
}
.btn-gray {
    background-color: #F3F5FA;
    color: #4c55e5;
    border: 1px solid #F3F5FA;
}

.btn-google {
    margin-top:15px;
}
.btn-google>span {
    padding-right: 8px;
    height:22px;
    line-height:22px;
}
.btn-review-write > svg {
    margin-left: 10px;
}
.btn-chat-enter {
    margin-right: auto;
    margin-left:0;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #fff;
    transform: rotate(90deg);
    margin-left: 8px;
}

.modal-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.65);
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    animation-name: slideUp;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    padding: 50px 45px;
    background-color: white;
    border-radius: 13px;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translate(-50%, -53%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}


/* 로그인 */
.login-controller {
    position: relative;
    width: 100%;
    height: 100%;
}

.login-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-top>ul {
    display: flex;
}

.login-top>ul>li {
    margin-left: 16px;
}

.login-top>ul>li:first-child {
    margin-left: 0;
}

.login-mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-mid>p {
    min-width: 655px;
    font-weight: 600;
    font-size: 80px;
    color: #393939;
    line-height: 1.4;
}

.login-mid>img {
    width: 465px;
    height: auto;
}

.login-bot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.login-bot span {
    display: block;
    width: 11px;
    height: 11px;
    margin-bottom: 21px;
    background-color: #000;
    border-radius: 50%;
}

.login-bot>div {
    display: flex;
    align-items: end;
}

.login-bot p {
    font-weight: 700;
    font-size: 23px;
    color: #313131;
    line-height: 1.4;
}

.login-bot p:first-child {
    position: relative;
    margin-right: 50px;
}

.login-bot p:first-child::before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    top: -30px;
    left: 0;
}

.login-bot img {
    width: 110px;
    height: 110px;
    margin-left: auto;
    animation: rotate 6s linear infinite;
}

.loginModal-content {
    text-align: center;
}

.loginModal-content>h2,
.modal-content>h2{
    font-size: 32px;
    font-weight: 700;
    color: #393939;
    text-align: center;
    margin-bottom: 35px;
}
.modal-content>h2 {
    margin-bottom: 0;
}

.loginModal-content>button {
    width: 410px;
}
.modal .modal-btn-con {
    width:100%;
    display: flex;
    gap: 10px;
    margin-top:35px;
}
.modal .modal-btn-con > button {
    width:100%;
}
.modal-btn-y {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background-color: #4c55e5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
}
.modal-btn-n {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border: 1px solid #555;
    color: #555;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
}


/* 독후감 메인 */
.review-sidebar {
    position: fixed;
    top:0;
    left:0;
    display: flex;
    width:414px;
    height:100%;
    background-color: #fff;
}
.review-sidebar-menu {
    padding:25px 0 50px;
    margin-bottom:50px;
}
.review-sidebar-menu a {
    display: inline-block;
    padding:25px 35px;
}
.review-sidebar-menu .active path {
    fill: #4c55e5;
}
.review-sidebar-chat {
    padding:20px 25px;
    background-color: #F5F7FB;
}
.review-chat-user {
    display: flex;
    align-items: center;
}
.review-chat-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width:65px;
    height:65px;
    margin-right:15px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.review-chat-profile > div {
    position: relative;
    overflow: hidden;
    width:50px;
    height:50px;
    border-radius: 50%;
}
.review-chat-profile > div img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:100%;
    height:100%;
}
.review-chat-info {
    width: 190px;
}
.review-chat-info > h2 {
    color:#313131;
    font-size:19px;
    font-weight: 700;
    padding-bottom:8px;
}
.review-chat-info > p {
    color:#c3c3c3;
    font-size:15px;
    font-weight: 500;
}
.chat-enter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    padding:18px 0;
    background-color: #fd5032;
    color:#fff;
    font-size:16px;
    font-weight: 500;
    border-radius: 10px;
    margin-right:auto;
}
.review-primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    padding:18px 0;
    background-color: #fff;
    border:1px solid #4c55e5 !important;
    color:#4c55e5;
    font-size:16px;
    font-weight: 500;
    border-radius: 10px;
}
.review-chat-list > h2 {
    font-size:18px;
    font-weight: 700;
    color:#313131;
    padding-bottom:15px;
    padding-left:8px;
}
.review-chat-list > h2 >span {
    font-size:18px;
    font-weight: 600;
    color:#4c55e5;
    padding-left:7px;
    font-family: 'Noto Sans KR', sans-serif;
}
.review-chat-list li {
    display: flex;
    align-items: center;
    padding:13px 10px 13px 5px ;
    border-radius: 10px;
    cursor: pointer;
}
.review-chat:hover {
    background-color: #fff;
}
.review-chat-list-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width:55px;
    height:55px;
    margin-right:10px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border:1px solid #e5e5e5;
}
.review-chat-list-profile > div {
    position: relative;
    overflow: hidden;
    width:40px;
    height:40px;
    border-radius: 50%;
}
.review-chat-list-profile > div img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:100%;
    height:100%;
}
.review-chat-list-info {
    width:160px;
}
.review-chat-list-info >h2 {
    width:100%;
    font-size:16px;
    font-weight: 700;
    color:#313131;
    padding-bottom:8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.review-chat-list-info >p {
    font-size:14px;
    color:#c3c3c3;
    font-weight: 500;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.review-chat-out {
    display: none;
    margin-left:auto;
}
.review-chat-list li:hover > .review-chat-out {
    display: inline-block;
}
.review-chat-list-alert {
    display: flex;
    align-items: center;
    justify-content: center;
    width:25px;
    height:25px;
    border-radius: 50%;
    background-color: #fd5032;
    color:#fff;
    font-size:14px;
    font-weight: 600;
    padding-bottom: 1px;
    margin-left:10px;
    font-family: 'Noto Sans KR', sans-serif;
}
.review-contents {
    width:calc(100vw - 760px);
    padding:55px 45px;
    margin-left:414px;
    min-height:100vh;
    background-color: #fff;
}
.review-right {
    position: fixed;
    top:0;
    right:0;
    width:350px;
    height:100%;
    padding:25px;
    background-color: #F5F7FB;
    display: flex;
    flex-direction: column;
}
.review-right > img {
    width:250px;
    height:auto;
    border:1px solid #f5f5f5;
}
.review-contents-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin-bottom: 10px;
}
.review-contents-title > h2 {
    font-size:22px;
    color:#313131;
    font-weight: 700;
}
.review-contents-title > h2 > span{
    font-size: 22px;
    font-weight: 600;
    color: rgb(76, 85, 229);
    padding-left: 7px;
    font-family: "Noto Sans KR", sans-serif;
}
.review-contents-title > input {
    width:250px;
    height:43px;
    line-height:43px;
    border-radius: 25px;
    border:1px solid #dddddd;background-image: url('../images/search.png'); /* 이미지 경로를 지정하세요 */
    background-size: 20px 20px; /* 이미지 크기를 조절하세요 */
    background-position: 15px 13px; /* 이미지의 위치를 조절하세요 */
    background-repeat: no-repeat;
    padding-left: 43px;
    font-size:18px;
    font-weight: 500;
    color: #313131;
    font-family: 'Noto Sans KR', sans-serif;
}
.review-contents-title > input::placeholder {
    font-size:17px;
    font-weight: 400;
    color:#ddd;
    line-height:43px !important;
    font-family: 'Noto Sans KR', sans-serif;
}
.review-contents-list li {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding:20px 0;
    border-bottom: 1px solid #ddd;
}
.review-contents-list li.no-review-message {
    display:block;
    border:0;
    text-align: center;
}
.review-book-img {
    width:70px;
    height:80px;
    overflow: hidden;
    margin-right:15px;
}
.review-book-img > img {
    width:100%;
    height:100%;
}
.review-book-contents {
    margin-right:15px;
    flex: 0 0 calc(100% - 402px);
}
.review-book-contents > h2 {
    font-size:18px;
    font-weight: 600;
    color:#313131;
    padding-bottom: 12px;
    line-height: 1.2;
}
.review-book-contents > p {
    font-size:17px;
    line-height:21px;
    font-weight: 400;
    color:#999999;
}
.review-book-info {
    margin-left:auto;
    display: flex;
    align-items: center;
    gap:20px;
}
.review-book-info p {
    font-family: 'Noto Sans KR', sans-serif;
    color:#999999;
    font-size:15px;
    font-weight: 400;
}
.review-openYn {
    display: inline-block;
    width:65px;
    height:26px;
    line-height: 26px;
    border-radius: 13px;
    text-align: center;
    background-color: #4c55e5;
    color:#fff !important;
    font-size: 12px;
    font-weight: 500;
}
.review-openYn-n {
    background-color: #ddd;
    color:#333 !important;
}

/* 독후감 작성하기 */
.review-write-con .row {
    display: flex;
    align-items: start;
}
.review-write-con .row > * {
    width:100%;
    flex-grow: 1;
}
.review-write-con .title {
    margin-bottom:10px;
    padding-left:8px;
}
.review-write-con .select2 {
    width:100% !important;
    margin-bottom:25px;
}
.review-write-con .select2-container--default .select2-selection--single .select2-selection__rendered {
    height:50px;
    line-height:50px;
    padding-left:15px;
}
.review-write-con .select2-container--default .select2-selection--single .select2-selection__arrow {
    top:12px;
}
.review-write-con .select2-container .select2-selection--single,
.review-write-con .col > p{
    display: inline-block;
    width:100% !important;
    min-height:50px;
    line-height:23px;
    background-color: #F5F7FB;
    border:1px solid #ddd;
    border-radius: 10px;
}
.review-write-con p,
.review-write-con #shortReview {
    margin-bottom:25px;
}
.review-write-con .col > p {
    padding:13px 15px;
}
.review-write-con #shortReview {
    display: inline-block;
    width:100% !important;
    min-height:50px;
    line-height:23px;
    border:1px solid #ddd;
    border-radius: 10px;
    padding:0 15px;
    box-sizing: border-box;
}
.review-write-con .openChk {
    display: flex;
    align-items: center;
    height:50px;
    padding:0 12px;
    margin-bottom:25px;
    border:1px solid #ddd;
    border-radius: 10px;
}
.review-write-con .openChk >label:first-child {
    margin-right:20px;
}
.review-write-con .row-3 {
    display: flex;
    gap:10px;
}
.review-write-con .row-3 > div {
    flex:0 0 calc((100% - 20px)/3);
}
.review-write-con .cover {
    flex:0 0 120px;
    height:160px;
    overflow: hidden;
    margin:auto ;
    margin-left:20px;
    border-radius: 5px;
    background-color: #F5F7FB;
    border: 1px solid #ddd;
    padding:2px;
}
.review-write-con .cover > img {
    width:100%;
    height:100%;
    border:0;
}
.review-write-con .row-2 {
    display: flex;
    gap:10px;
}
.review-write-con .row-2 > div:first-child {
    flex:0 0 125px;
}
.review-write-con .row-2 > div:first-child .heart {
    display: flex;
    align-items: center;
    height:50px;
    padding:0 12px;
    margin-bottom:25px;
}
.review-write-con .row-2 > div:first-child input[type='checkbox'] {
    display: none;
}
.review-write-con textarea {
    width:100%;
    height:calc(100vh - 518px);
    padding:15px;
    box-sizing: border-box;
    border:1px solid #ddd;
    border-radius: 10px;
    resize: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:16px;
    line-height:21px;
}
.review-write-con .btn-controller {
    margin-top:25px;
    display: flex;
    justify-content: end;
}
.review-write-con .btn-controller .review-write-btn {
    width:25%;
    padding:10px 0;
    margin:0;
}
.selection img {
    display: none;
}


/*독후감 상세보기*/
.list-openYn {
    flex:0 0 110px;
}
.list-openYn > p {
    display: inline-block;
    width:100%;
    border-radius: 10px;
    background-color: #7ED3B2;
    text-align: center;
    font-size:13px;
    line-height: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    color:#fff;
}
.list-openYn > p.list-open-y {
    background-color: #5AA4FB;
    color:#fff !important;
}
.list-openYn > p.list-open-n {
    background-color: #ddd;
}
.review-detail-con .row-3 > div,
.review-update-con .row-3 > div{
    flex-grow: 1;
}
.review-detail-con .row-3 > div:last-child,
.review-update-con .row-3 > div:last-child{
    flex:0 0 110px;
}


/*독후감 수정하기*/
.review-update-con .list-openYn > p {
    line-height: 52px;
    font-size: 15px;
    font-weight: 500;
    cursor:pointer;
}
.review-update-con #shortReview {
    background-color: #fff;
}

/*사이드 캘린더*/
.cal-container {
    padding: 22px 25px;
    background-color: #fff;
    border-radius: 15px;
}
.cal-month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}
.cal-month > h2 {
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}
.cal-arrow {
    display: flex;
    gap:10px;
}
.cal-arrow > button {
    background: inherit ;
    border:none;
    box-shadow:none;
    border-radius:0;
    padding:0;
    overflow:visible;
    cursor:pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    width:25px;
    height:25px;
    border-radius: 4px;
    background-color: #e7eef7;
}
.cal-arrow > button > img {
    display: block;
    width:11px;
    height:auto;
}
.cal-calendar {
    width:100%;
}
.cal-week {
    display: flex;
    justify-content: space-between;
    width:100%;
    padding-bottom:9px;
    border-bottom:1px solid #e3e9f8;
}
.cal-week li {
    font-size:12px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}

.month {
    margin-bottom: 20px;
}

.week {
    display: flex;
}

.day {
    width: calc(100% / 7);
    padding: 11px 0;
    margin:1.5px 0;
    text-align: center;
    font-size:12px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}
.day:hover {
    background-color: #e2e2e2;
    border-radius: 4px;
    cursor: default;
}
.day:hover.with-review:after {
    display: none;
}

.day-header {
    background-color: #f2f2f2;
    font-weight: bold;
}

.day-num {
    margin-bottom: 5px;
}

.today {
    background-color: #4c55e5;
    color:#fff;
    border-radius: 4px;
    cursor: pointer;
}

.selected {
    background-color: #ffc107;
}
.day.with-review {
    position: relative;
    cursor: pointer;
}
.day.with-review:after {
    content:'';
    display: block;
    position:absolute;
    bottom:-2px;
    left:50%;
    transform: translateX(-50%);
    width:5px;
    height:5px;
    background-color: #9873ec;
    border-radius: 50%;
}
.day.today.with-review:after {
    bottom:-8px;
}
.day:hover.with-review:hover {
    background-color: #9873ec;
    color:#fff;
}

/*캘린더 독후감 목록*/
.day-reviewList {
    display: none;
    margin-top:25px;
    padding: 25px 18px 25px 25px;
    background-color: #fff;
    border-radius: 15px;
    flex-direction: column;
    overflow: auto;
}
.day-reviewList > ul {
    overflow-y: auto; /* 내용이 넘치면 ul에만 스크롤바가 나타나도록 함 */
    height: 100%;
}
.day-reviewList > ul::-webkit-scrollbar,
.chat-review-modal::-webkit-scrollbar {
    width: 10px;
}

.day-reviewList > ul::-webkit-scrollbar-track,
.chat-review-modal::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.day-reviewList > ul::-webkit-scrollbar-thumb,
.chat-review-modal::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: #4c55e5;
}

.day-reviewList > ul > li {
    cursor: pointer;
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:1px solid #e7eef7;
    padding-right:9px;
}
.day-reviewList > ul > li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}
.day-reviewList > h2 {
    flex:1;
    font-size: 16px;
    font-weight: 700;
    color: #313131;
    padding-bottom: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}
.day-review-top {
    display: flex;
    gap:13px;
    align-items: center;
    margin-bottom: 15px;
}
.day-review-thumb {
    flex:0 0 50px;
    height:60px;
    overflow: hidden;
}
.day-review-thumb > img {
    display: block;
    width:100%;
}
.day-review-title {
    font-size: 16px;
    font-weight: 700;
    color: #313131;
    line-height:1.2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.day-review-con {
    font-size:14px;
    line-height:1.2;
}


/*채팅방*/
.chat-container {
    display: flex;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    width: calc(100vw - 764px);
    margin-left: 414px;
}
.chat-con {
    flex-grow: 1;
    height:100%;
    overflow-y: scroll;
    padding:13px 17px;
}

.chat-con::-webkit-scrollbar {
    width: 10px;
}

.chat-con::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.chat-con::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: #4c55e5;
}
.chat-date {
    text-align: center;
    margin:50px 0 40px;
}
.chat-date > span {
    display: inline-block;
    padding:6px 16px;
    border-radius: 12.5px;
    background-color: #eff1f3;
    font-size:13px;
    color:#697887;
    font-family: 'Noto Sans KR', sans-serif;
}
.chat-profile {
    position:relative;
    width:40px;
    height:40px;
    border-radius: 50%;
    overflow: hidden;
}
.chat-user {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top:5px;
}
.chat-profile > img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:100%;
}
.chat-user .chat-review-more {
    cursor: pointer;
}
.chat-user .chat-review-more > span {
    display: flex;
    background: #F5F7FB;
    padding: 4px;
    border-radius: 12px;
}
.chat-user .chat-review-more > p {
    display: none;
    background: #F5F7FB;
    padding: 7px 9px;
    border-radius: 12px;
    color: #4c55e5;
    font-weight: bold;
    font-size: 12px;
}
.chat-user .chat-review-more:hover > span {
    display: none;
}
.chat-user .chat-review-more:hover > p{
    display: flex;
}
.chat-name {
    font-weight: bold;
    color:#313131;
}
.chat-box > span {
    font-size: 13px;
    color:#a4adb8;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0 8px 3px;
}
.chat-box {
    display: flex;
    margin:0 50px 12px;
    align-items: end;
}
.chat-box > p {
    display: inline-block;
    padding:13px 15px;
    border-radius: 8px;
    background-color: #F5F7FB;
    color:#122737;
    box-shadow: rgba(50, 50, 93, 0.05) 0px 6px 12px -2px, rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
}
.me {
    flex-direction: row-reverse;
}
.chat-box.me > p {
    background-color: #4c55e5;
    color:#fff;
}
.chat-input {
    display: flex;
    gap: 15px;
    height:70px;
    background-color: #e5ebfd;
    padding:10px 20px;
    box-sizing: border-box;
}
.chat-input > input {
    flex-grow: 1;
    border:0;
    background-color: transparent;
    color: #222;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}
.chat-input > input::placeholder {
    color: #999;
    font-weight: normal;
    font-family: 'Noto Sans KR', sans-serif;
}
.chat-input > input:focus {
    outline: none;
}
.chat-input > button {
    position: relative;
    border:0;
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: #4c55e5;
}
.chat-input > button > img {
    position: absolute;
    top:16px;
    left:14px;
    width:20px
}
.chat-entry {
    text-align: center;
    font-weight: bold;
    margin: 25px 0;
    padding: 15px 0;
    background: #F5F7FB;
    border-radius: 5px;
}