<!DOCTYPE html>
<!--라이브러리 참조 : Thymeleaf & Thymeleaf Layout -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!--공통 JS / CSS 영역을 관리하는 환경 영역-->
    <head th:replace="~{common/fragments/defaultConfig :: defaultConfigFragment}">
        <link rel="shortcut icon" href="#">
    </head>

    <body>
        <div class="review-container">
            <aside th:replace="~{common/fragments/defaultSidebar :: defaultSidebarFragment}"></aside>

            <th:block layout:fragment="Content"></th:block>

            <aside th:replace="~{common/fragments/defaultCalendar :: defaultCalendarFragment}"></aside>
        </div>
    </body>

	<!--채팅방 나가기 확인 모달-->
    <div id="chatOutModal" class="modal">
        <div class="modal-content">
            <h2>채팅방을 나가시겠습니까?</h2>
            <div class="modal-btn-con">
                <a id="chatOutBtn" class="modal-btn-y">예</a>
                <button class="modal-btn-n">아니오</button>
            </div>
        </div>
    </div>
    <div id="chatOutModal-background" class="modal-background"></div>
</html>